<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="770508c4-a3c1-4121-a052-d04d75725f6c" Publisher="CN=Michael" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Step-by-Step Sudoku Solver</DisplayName>
    <PublisherDisplayName>Michael</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Step_by_Step_Sudoku_Solver.App">
      <VisualElements DisplayName="Step-by-Step Sudoku Solver" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="The Step-by-Step Sudoku Solver can show you how to solve a Sudoku one step at a time. It can also solve puzzles directly, which can be useful for checking solutions or solving difficult puzzles quickly." ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
          <Rotation Preference="landscapeFlipped" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>